<div class="user-form-container">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |err| %>
          <p><%= err %></p>
        <% end %>
    <% end %>
    <div class="user-form">
      <p>
        <%= f.text_field :first_name, placeholder: 'First name' %>
        <%= f.text_field :last_name, placeholder: 'Last name' %>
        <%= f.text_field :username, placeholder: 'Username' %>
        <%= f.email_field :email, placeholder: 'Email' %>
        <%= f.password_field :password, placeholder: 'Password' %>
        <%= f.password_field :password_confirmation, placeholder: 'Confirm password' %>
      </p>
    </div>
    <div class="form-submit">
    <%= f.submit 'Sign up' %>
    </div>
  <% end %>
</div>