<%= form_for @story do |f| %>

  <% if @story.errors.any? %>
    <div class="new-story-errors">
      <% @story.errors.full_messages.each do |err| %>
        <p><%= err %></p>
      <% end %>
    </div>
  <% end %>


  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <%= f.label :topic %>
  <%= f.select :topic, Story.all.collect { |story| [story.topic] } %>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>

  <%= f.submit 'Publish Story' %>
<% end %>