<div class="story-form">
  <%= form_for @story do |f| %>

    <% if @story.errors.any? %>
      <div class="new-story-errors">
        <% @story.errors.full_messages.each do |err| %>
          <p><%= err %></p>
        <% end %>
      </div>
    <% end %>


    <div class="new-story-col-2">
    <p class="new-story-title-field">
      <%= f.text_field :title, placeholder: 'Title' %>
    </p>
    <div class="new-story-dropdown-field">
    <%= f.select :topic, ['Select a topic', 'Tutorials', 'Deep Dives', 'Ideas', 'World', 'Productivity', 'Programming', 'Politics', 'Data Science', 'Startups', 'Gaming'] %>
    </div>
    </div>
      <%#= f.text_field :topic %>
    <p class="new-story-body-field">
      <%= f.text_area :body, placeholder: 'Start writing your next story.' %>
    </p>

    <%= f.submit 'Publish Story' %>
  <% end %>
</div>