<div class="index-stories">
  <% @stories.each do |story| %>

    <div class="story-card" id="story-card">

      <div class="story-image-header">
        <div class="written-by-title">
          <h3><%= link_to story.title, story_path(story) %></h3>
        </div>
        <% if story.image.url.present? %>
          <div class="img-and-avatar">
            <div class="story-card-thumb-img">
              <%= image_tag story.image.thumb.url, class: 'story-header-img' %>
              <%#= image_tag story.user.avatar.avatar_thumb.url, class: 'story-header-img' %>
        <% end %>
        </div>
        </div>

      </div>
      <%= story.body %>
        <div class="written-by">
          <span>Written by <span class="highlight"><%= link_to story.user.username.capitalize, user_path(story.user) %></span> in <span class="highlight"><%= link_to story.topic, root_path(topic: story.topic), active: { topic: story.topic } %></span></span>
        </div>
    </div>

  <% end %>
</div>