<div class="section-heading-container">
  <h1 class="section-heading">Stories</h1>
</div>

<!-- Topic filtering-->
<div class="topics-container">
  <nav class="topics">
    <div class="btn topic-btn"><%= active_link_to 'All stories', root_path, active: { topic: nil } %></div>
    <div class="btn topic-btn"><%= active_link_to 'Tutorials', root_path(topic: 'Tutorials'), active: { topic: 'Tutorials' } %></div>
    <div class="btn topic-btn"><%= active_link_to 'Deep Dives', root_path(topic: 'Deep Dives'), active: { topic: 'Deep Dives' } %></div>
    <div class="btn topic-btn"><%= active_link_to 'Ideas', root_path(topic: 'Ideas'), active: { topic: 'Ideas' } %></div>
    <div class="btn topic-btn"><%= active_link_to 'World', root_path(topic: 'World'), active: { topic: 'World' } %></div>
    <div class="btn topic-btn"><%= active_link_to 'Productivity', root_path(topic: 'Productivity'), active: { topic: 'Productivity' } %></div>
    <div class="btn topic-btn"><%= active_link_to 'Programming', root_path(topic: 'Programming'), active: { topic: 'Programming' } %></div>
    <div class="btn topic-btn"><%= active_link_to 'Politics', root_path(topic: 'Politics'), active: { topic: 'Politics' } %></div>
    <div class="btn topic-btn"><%= active_link_to 'Data Science', root_path(topic: 'Data Science'), active: { topic: 'Data Science' } %></div>
    <div class="btn topic-btn"><%= active_link_to 'Startups', root_path(topic: 'Startups'), active: { topic: 'Startups' } %></div>
    <div class="btn topic-btn"><%= active_link_to 'Gaming', root_path(topic: 'Gaming'), active: { topic: 'Gaming' } %></div>
  </nav>
</div>

<div class="stories-index-container">
  <div class="stories-index-content">

    <div class="index-stories">
      <% @stories.each do |story| %>

        <div class="story-card">

          <% if story.image.url.present? %>
            <div class="story-card-thumb-img">
              <%= link_to story.image.url do %>
                <%= image_tag story.image.thumb.url, class: 'story-header-img'%>
              <% end %>
            </div>
          <% end %>

          <h3><%= link_to story.title, story_path(story) %></h3>
          <p><%= story.body %></p>
        </div>

      <% end %>
    </div>

  </div>
</div>

<div class="hero-line mid"></div>