<% content_for :page_title, @story.title %>

<%# if @story.image %>
  <%#= image_tag @story.image do |image| %>
    <%#= image %>
    <%# end %>
<%# end %>

<%= link_to @story.image.url do %>
  <%= image_tag @story.image.url, class: 'story-header-img'%>
<% end %>

<div class="story-show-container">
  <div class="story-container">

    <div class="story-content-container">
      <div class="story-content">

        <h1><%= @story.title %></h1>
        <% if @story.user.present? %>
          <h3><%= @story.user.username %></h3>
        <% end %>
        <% if @story.topic != 'Select a topic' %>
          <h3><%= @story.topic %></h3>
        <% end %>

        <% if has_session? %>

          <% if @story.favourites.where(user: @current_user).any? %>
            <%= link_to "Remove favourite", story_favourite_path(@story), method: :delete %>
          <% else %>
            <%= link_to "Favourite", story_favourite_path(@story), method: :post %>
          <% end %>

        <% end %>


        <p><%= simple_format @story.body %></p>
      </div>
    </div>

    <% if @story.user == @current_user %>
      <div class="story-actions">
        <%= link_to 'Delete this story', story_path(@story), method: :delete, data: { confirm: 'Deleting is forever. Are you sure?' } %>
        <% if @story.created_at > 2.hours.ago %>
          <%= link_to 'Edit this story', edit_story_path(@story) %>
        <% end %>
      </div>
    <% end %>

    <h3>Comments</h3>
    <% @story.comments.order('created_at desc').each do |comment| %>
      <%= simple_format comment.body %>
      <p>Posted by
        <% if comment.user.present? %>
          <%= link_to comment.user.username.capitalize, user_path(comment.user) %> |
        <% else %>
          Anonymous
        <% end %>
      <%= time_ago_in_words comment.created_at %> ago</p>
    <% end %>

    <div class="comments-form">
      <h3>Add a comment</h3>
      <%= simple_form_for [@story, Comment.new] do |f| %>
      <%= f.input :body %>
      <%= f.button :submit %>
      <% end %>
    </div>

  </div>

</div>