<% content_for :page_title, @story.title %>

<div class="story-show-container">
  <div class="story-container">

    <div class="story-content-container">
      <div class="story-content">
        <h1><%= @story.title %></h1>
        <% if @story.topic != 'Select a topic' %>
          <h3><%= @story.topic %></h3>
        <% end %>
        <p><%= simple_format @story.body %></p>
      </div>
    </div>

    <div class="story-actions">
      <%= link_to 'Delete this story', story_path(@story), method: :delete, data: { confirm: 'Deleting is forever. Are you sure?' } %>
      <%= link_to 'Edit this story', edit_story_path(@story) %>
    </div>

    <h3>Comments</h3>
    <% @story.comments.order('created_at desc').each do |comment| %>
      <%= simple_format comment.body %>
      <p>Posted <%= time_ago_in_words comment.created_at %> ago</p>
    <% end %>

    <div class="comments-form">
      <h3>Add a comment</h3>
      <%= simple_form_for [@story, Comment.new] do |f| %>
      <%= f.input :body %>
      <%= f.button :submit %>
      <% end %>
    </div>

  </div>

</div>