<footer class="footer">
  <div class="footer-wrapper">
    <nav class="footer-nav">
      <% if @current_user && @current_user.is_admin == true %>
        <%= link_to 'Admin', admin_stories_path %>
      <% end %>

      <%= link_to 'Read', root_path %>
      <%= link_to 'Our Story', about_path %>
      <%= link_to 'Write', new_story_path %>
      <%= link_to 'Terms', terms_and_conditions_path %>
    </nav>

    <div class="margin-top-2 footer-tag">
      Made with Ruby on Rails
    </div>
  </div>
</footer>