<!DOCTYPE html>
<html>
  <head>
    <title>Extra</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to 'Extra', root_path %></h1>
      <h2>What are you writing about?</h2>
      <nav>
        <%= link_to 'Write', new_story_path %>
      </nav>
    </header>



    <%= yield %>


    <footer>
      Made with Ruby on Rails
    </footer>
  </body>
</html>
